<section class="container-fluid">
  <article class="wrapper">
    <div class="mail__header_tab">
      <div [ngClass]="{middle: true, active: isActive === 'all'}" (click)="messagesFilters('all')">
        <i class="fa fa-envelope"></i><span>Inbox</span><span class="taille"></span>
      </div>
      <div [ngClass]="{middle: true, active: isActive === 'followUp'}" (click)="messagesFilters('followUp')">
        <i class="fa fa-comments-o"></i><span>Follow up</span><span class="taille"></span>
      </div>
      <div [ngClass]="{middle: true, active: isActive === 'assignedToMe'}" (click)="messagesFilters('assignedToMe')">
        <i class="fa fa-tags"></i><span>Assigned</span><span class="taille"></span>
      </div>
    </div>
    <div *ngFor="let message of messageConversation | async | paginate: {id:'messageConvo', itemsPerPage: pager.pageSize, currentPage: pager.page, totalItems: pager.total}">
      <div class="mail-wrapper" *ngIf="message.id === openedMessage">
        <div class="mail-top shadow" (click)="closeMessage()">
          <div class="mail-subject">{{message.subject}}</div>
          <div class="mail-action"></div>
        </div>
        <div class="mail-body" *ngFor="let messagebody of message.messages; let i = index">
          <div class="image">
            <img src="https://ssl.gstatic.com/bt/C3341AA7A1A076756462EE2E5CD71C11/avatars/avatar_tile_k_56.png" />
          </div>
          <div class="someClass">
            <div class="sender" *ngIf="message.user">
              <span>{{message.userFirstname}}</span>
            </div>
            <div class="message">
              <section [innerHTML]="messagebody.text"></section>
              <div class="Approval-actions" *ngIf="i==0 && isUserSupportMsg">
                <div *ngIf="loadingDataStoreValue">
                  <div class="col-md-12">
                    <img src="assets/img/balls-3.svg" alt="" style="height:40px">
                    <span style="margin-top: 20px;">Loading Actions to Approve</span>
                  </div>
                </div>
                <section *ngIf="!loadingDataStoreValue">
                  <ul class="dataStore_items__listing">
                    <li *ngIf="!disableApproveAll">
                      <span>Approve all Changes</span>
                      <button class="btn btn-success" (click)="approveChangesDataset(dataStoreValues)">Approve All</button>
                    </li>
                    <li *ngFor="let value of dataStoreValues; let i = index">
                      <span>{{value.action}}</span>
                      <button class="btn btn-success" (click)="approveChangesDataset(value)" [disabled]="value.status == 'SOLVED'" >{{value.status == 'SOLVED' ? "Approved": "Approve"}}</button>
                    </li>
                  </ul>
                </section>
              </div>
            </div>
          </div>
        </div>
        <div class="mail-footer shadow">
          <div class="image">
            <img src="https://ssl.gstatic.com/bt/C3341AA7A1A076756462EE2E5CD71C11/avatars/avatar_tile_s_56.png" />
          </div>
          <form class="replybox" novalidate [formGroup]="messageReplyFormGroup">
            <div class="draft"><span>Draft </span></div>
            <textarea formControlName="message"></textarea>
            <div class="left">
              <button class="btn btn-success" (click)="onReplyMessage(message.id, messageReplyFormGroup)">SEND</button>
            </div>
            <div class="pull-right pull__right--Action">
              <select class="select"  formControlName="priority">
                <option *ngFor="let priority of priorities" [selected]="priority == message.priority">{{priority}}</option>
              </select>
              <select class="select" formControlName="status">
                <option *ngFor="let status of statuses" [selected]="status == message.status">{{status}}</option>
              </select>
            </div>
          </form>
        </div>
      </div>
      <div class="content-wrapper" *ngIf="message.id !== openedMessage">
        <div class="image" (click)="openMessage(message)">
          <img src="https://ssl.gstatic.com/bt/C3341AA7A1A076756462EE2E5CD71C11/avatars/avatar_tile_k_56.png" />
        </div>
        <div class="name" (click)="openMessage(message)"><span>{{message.userFirstname +" "+message.userSurname}}</span></div>
        <div class="subject">
          <div class="actions">
            <a href="#" class="pinned-msg"><i class="fa fa-thumb-tack"></i></a>
            <ul>
              <li (click)="markAsRead(message)"><i class="fa fa-check"></i></li>
              <li (click)="deleteMessage(message)" ><i class="fa fa-trash"></i></li>
            </ul>
          </div>
          <div class="content" (click)="openMessage(message)">
            <span *ngIf="message.priority!=='NONE'" [ngClass]="{label: true, 'label-warning': message.priority === 'MEDIUM', 'label-danger': message.priority === 'HIGH', 'label-info': message.priority === 'LOW'}">{{message.priority}}</span>
            <span [ngClass]="{fs: true, bold: !message.read}">{{message.subject}}</span>
            <span *ngIf="message.status!=='NONE'" [ngClass]="{label: true, 'label-info': message.status === 'PENDING', 'label-success': message.status === 'SOLVED', 'label-warning': message.status === 'OPEN'}">{{message.status}}</span>
            <span class="sn">{{message.created | date:'medium'}}</span>
          </div>
        </div>
      </div>
    </div>
  </article>
  <nav class="fab__container">
    <a class="buttons" href="#" (click)="showComposeMessage()" tooltip="Write Feedback"></a>
    <a class="buttons" href="#" (click)="showComposeMessage()" tooltip="Write Message"></a>
    <a class="buttons" (click)="showComposeMessage()" tooltip="Compose">
      <span class="fab"><span class="rotate"></span></span>
    </a>
  </nav>
  <div class="has-text-centered pagination_number_container" *ngIf="isDataLoaded">
      <div class="spinner" [ngClass]="{ 'hidden': !isLoadingMessagesPagination }"></div>
      <pagination-controls (pageChange)="getPage($event)" id="messageConvo"></pagination-controls>
  </div>
</section>
<!-- TODO:
  add pagination
  http://michaelbromley.github.io/ngx-pagination/#/
 -->
