<section class="container-fluid">
  <article class="wrapper">
    <div class="mail__header_tab">
      <div [ngClass]="{middle: true, active: isActive === 'all'}" (click)="messagesFilters('all')">
        <i class="fa fa-envelope"></i><span>Inbox</span><span class="taille"></span>
      </div>
      <div [ngClass]="{middle: true, active: isActive === 'followUp'}" (click)="messagesFilters('followUp')">
        <i class="fa fa-comments-o"></i><span>Follow up</span><span class="taille"></span>
      </div>
      <div [ngClass]="{middle: true, active: isActive === 'assignedToMe'}" (click)="messagesFilters('assignedToMe')">
        <i class="fa fa-tags"></i><span>Assigned</span><span class="taille"></span>
      </div>
    </div>
    <div *ngFor="let message of messageConversation | async | paginate: {id:'messageConvo', itemsPerPage: pager.pageSize, currentPage: pager.page, totalItems: pager.total}">
      <div class="mail-wrapper" *ngIf="message.id === openedMessage">
        <div class="mail-top shadow" (click)="closeMessage()">
          <div class="mail-subject">{{message.subject}}</div>
          <div class="mail-action"></div>
        </div>
        <div class="mail-body" *ngFor="let messagebody of message.messages">
          <div class="image">
            <img src="https://ssl.gstatic.com/bt/C3341AA7A1A076756462EE2E5CD71C11/avatars/avatar_tile_k_56.png" />
          </div>
          <div class="someClass">
            <div class="sender" *ngIf="message.user">
              <span>{{message.userFirstname}}</span>
              <span> to me </span>
            </div>
            <div class="message" [innerHTML]="messagebody.text"></div>
          </div>
        </div>
        <div class="mail-footer shadow">
          <div class="image">
            <img src="https://ssl.gstatic.com/bt/C3341AA7A1A076756462EE2E5CD71C11/avatars/avatar_tile_s_56.png" />
          </div>
          <form class="replybox" novalidate (ngSubmit)="onReplyMessage(message.id, messageReplyFormGroup)" [formGroup]="messageReplyFormGroup">
            <div class="draft"><span>Draft </span><span>to, Kennedy <i class="fa fa-angle-down"></i></span></div>
            <textarea formControlName="message"></textarea>
            <div class="left">
              <button class="btn btn-success" type="submit">SEND</button>
              <a href="#"><i class="fa fa-paperclip"></i></a>
            </div>
          </form>
        </div>
      </div>
      <div class="content-wrapper" *ngIf="message.id !== openedMessage">
        <div class="image" (click)="openMessage(message)">
          <img src="https://ssl.gstatic.com/bt/C3341AA7A1A076756462EE2E5CD71C11/avatars/avatar_tile_k_56.png" />
        </div>
        <div class="name" (click)="openMessage(message)"><span>{{message.userFirstname +" "+message.userSurname}}</span></div>
        <div class="subject">
          <div class="actions">
            <a href="#" class="pinned-msg"><i class="fa fa-thumb-tack"></i></a>
            <ul>
              <li (click)="markAsRead(message)"><i class="fa fa-check"></i></li>
              <li (click)="deleteMessage(message)" ><i class="fa fa-trash"></i></li>
            </ul>
          </div>
          <div class="content" (click)="openMessage(message)">
            <span *ngIf="message.priority!=='NONE'" [ngClass]="{label: true, 'label-warning': message.priority === 'MEDIUM', 'label-danger': message.priority === 'HIGH', 'label-info': message.priority === 'LOW'}">{{message.priority}}</span>
            <span [ngClass]="{fs: true, bold: !message.read}">{{message.subject}}</span>
            <span *ngIf="message.status!=='NONE'" [ngClass]="{label: true, 'label-info': message.status === 'PENDING', 'label-success': message.status === 'SOLVED', 'label-warning': message.status === 'OPEN'}">{{message.status}}</span>
            <span class="sn">{{message.created | date:'medium'}}</span>
          </div>
        </div>
      </div>
    </div>
  </article>
  <nav class="fab__container">
    <a class="buttons" href="#" (click)="showComposeMessage()" tooltip="Write Feedback"></a>
    <a class="buttons" href="#" (click)="showComposeMessage()" tooltip="Write Message"></a>
    <a class="buttons" (click)="showComposeMessage()" tooltip="Compose">
      <span class="fab"><span class="rotate"></span></span>
    </a>
  </nav>
  <div class="has-text-centered pagination_number_container" *ngIf="isDataLoaded">
      <div class="spinner" [ngClass]="{ 'hidden': !isLoadingMessagesPagination }"></div>
      <pagination-controls (pageChange)="getPage($event)" id="messageConvo"></pagination-controls>
  </div>
</section>
<!-- TODO:
  add pagination
  http://michaelbromley.github.io/ngx-pagination/#/
 -->
