<div class="container-fluid action__wrapper">
  <form novalidate (ngSubmit)="onSubmitNext(actionTypeForm)" [formGroup]="actionTypeForm" class="col-sm-10 col-sm-offset-1 actionForm">
    <!-- <h3 class="wellcome__messaging">Welcome {{currentUser.name}}, How can we help you today? </h3> -->
    <div class="form-group">
      <dl class="radio-list-left">
        <dd *ngFor="let action of actions">
          <input type="radio" formControlName="actionType"  name={{actionvalue}} id={{action.value}} [value]="action.value" (change)="onSubmitNext(actionTypeForm)">
          <label for={{action.value}} class="cursor__pointer"><i class={{action.iconClass}} aria-hidden="true"></i>{{action.display}}</label>
        </dd>
      </dl>
    </div>
  </form>
  <app-messages></app-messages>
</div>
