.data-filter-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: .2em;
}

.data-filter-options {
  grid-column: span 2;
  padding: 2px;
}

.data-filter-options-icon {
  padding-left: 0;
  list-style: none;
  margin-left: -5px;
}

.data-filter-options-icon>li {
  display: inline-block;
  padding: 2px;
}

.data-filter-options-icon>li>a {
  min-height: 30px;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  border: solid 1px #dddddd;
  font-size: 12px;
  border-radius: 16px;
}

.data-filter-group-selection {
  grid-column: span 2;
  position: relative;
}

.data-filter-group-panel {
  -webkit-box-shadow: 0px 2px 10px -2px rgba(0, 0, 0, .7);
  -moz-box-shadow: 0px 2px 10px -2px rgba(0, 0, 0, .7);
  box-shadow: 0px 2px 10px -2px rgba(0, 0, 0, .7);
  background-color: #ffffff;
  margin-top: 4px;
  position: absolute;
  z-index: 1000;
  width: 100%;
}

.data-filter-group-panel-body {
  padding: 4px;
}

.data-filter-group-list {
  margin-top: 5px;
  padding-top: 5px;
  list-style: none;
  max-height: 150px;
  padding-left: 0;
  overflow: hidden;
}

.data-filter-group-list>li>a {
  display: block;
  line-height: 20px;
  width: 100%;
  cursor: pointer;
}

.data-filter-group-list>li>a:hover {
  background-color: #dddddd;
}

.data-filter-group-list:hover {
  overflow: auto;
}

.data-filter-group-list::-webkit-scrollbar {
  width: 5px;
}

.data-filter-group-list::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.data-filter-group-list::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
}

.data-filter-group-list>li>a {
  padding: 1px 10px 1px 10px;
  font-size: 12px;
  border-radius: 0px;
  margin: 0;
}

.data-filter-list-search {
  grid-column: span 2;
  margin-top: 5px;
  margin-bottom: 5px;
}

.data-filter-available-header {
  border: solid 1px #dddddd;
}

.data-filter-available-body, .data-filter-selected-body {
  padding: .2em;
  height: 150px;
  overflow: hidden;
}

.data-filter-available-body:hover, .data-filter-selected-body:hover {
  overflow: auto;
}

.data-filter-selected-body {
  border-right: solid 1px #dddddd;
  border-bottom: solid 1px #dddddd;
}

.data-filter-available-body {
  border-right: solid 1px #dddddd;
  border-left: solid 1px #dddddd;
  border-bottom: solid 1px #dddddd;
}

.data-filter-available-body>ul, .data-filter-selected-body>ul {
  padding-left: 0;
  padding-right: 0;
  list-style: none;
}

.data-filter-available-body>ul>li>a, .data-filter-selected-body>ul>li>a {
  cursor: pointer;
  color: #000000;
  display: block;
  font-size: 12px;
  padding: 2px 5px 2px 5px;
}

.data-filter-available-body>ul>li>a:hover, .data-filter-selected-body>ul>li>a:hover {
  background-color: #dddddd;
}

.data-filter-selected-header {
  border-top: solid 1px #dddddd;
  border-bottom: solid 1px #dddddd;
  border-right: solid 1px #dddddd;
}

.data-filter-available-body::-webkit-scrollbar, .data-filter-selected-body::-webkit-scrollbar {
  width: 5px;
}

.data-filter-available-body::-webkit-scrollbar-track, .data-filter-selected-body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.data-filter-available-body::-webkit-scrollbar-thumb, .data-filter-selected-body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
}

.data-filter-btns {
  display: grid;
  grid-template-columns: 1fr;
  padding-top: .2em;
  padding-right: 5px;
}

.show_datasets {
  position: relative;
  float: left;
  display: inline-block;
  text-align: center;
  cursor: pointer;
  border: 1px solid #c6c6c6;
  padding: 4px 2px 4px 2px;
  font-size: 12px;
  min-height: 20px!important;
  border-radius: 4px;
  color: #555;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  white-space: normal;
  background-image: linear-gradient(#fff, #f7f7f7);
  width: 100%;
  min-height: 26px;
}

.show_datasets span, .show_datasets small {
  cursor: pointer;
}

.show_datasets span.selected-item {
  background: inherit;
  border: 1px solid #ececec;
  border-radius: 3px;
  padding: 3px 5px 3px 5px;
  margin-right: 2px;
  cursor: text;
  font-size: 11px;
}

.show_datasets .remove_dataset {
  cursor: pointer;
  border: 1px solid rgba(95, 158, 160, .26);
  padding-left: 2px;
  padding-right: 2px;
}
