.org-data-filter {
  width: 100%;
  height: 100%;
  margin: 20px 0;
}

.create__user--page {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.create__user--page .content__wrapper {
  display: flex;
  width: 70%;
  justify-content: center;
  flex-direction: column;
}

.create__user--page .content__wrapper  .user__details {
  margin-top: 50px;
}

.user__details--title {
  margin-bottom: 20px;
}

.padding_15 {
  padding: 0 15px;
}

.requestUser__form {
  margin: 15px 0;
}

.userGroupSelect,.userRolesSelect{
  display: block;
}

ss-multiselect-dropdown#multiselectDropdown {
    /* width: 100%; */
    display: block;
}

ul.dropdown-menu {
  width: 100%;
}
