<div class="container-fluid create__user--page">
  <div class="content__wrapper">
    <div class="org-data-filter">
      <h4 class="text-center">Please select Organisation unit to request user</h4>
      <app-org-unit-filter (onOrgUnitUpdate)="setSelectedOrgunit($event)"
          [orgunit_tree_config]="orgunit_tree_config" [orgunit_model]="orgunit_model">
      </app-org-unit-filter>
    </div>
    <section class="user__details" *ngIf="isOrganizationUnitSelected">
      <div class="user__details--title">
        <p>Enter user details for the following organization units:  {{selectedOrgUnitNames.join(', ')}}</p>
      </div>
      <form novalidate (ngSubmit)="onSubmit(userDetails)" [formGroup]="userDetails" class="requestUser__form">
            <div class="form-group" formGroupName="userCredentials" [ngClass]="{'has-error': userDetails.get('userCredentials').get('username').hasError('required') && userDetails.get('userCredentials').get('username').touched}">
              <label for="inputUsername" class="col-form-label">Username</label>
              <input type="text" class="form-control" id="inputUsername" placeholder="username" formControlName="username" aria-describedby="helpUsername">
              <span id="helpUsername" class="form-text text-danger" *ngIf="userDetails.get('userCredentials').get('username').hasError('required') && userDetails.get('userCredentials').get('username').touched">
                Username is required
              </span>
            </div>
          <div class="form-row">
            <div class="form-group col-md-6" [ngClass]="{'has-error': userDetails.get('firstName').hasError('required') && userDetails.get('firstName').touched}">
              <label for="inputFirstname" class="col-form-label">First Name</label>
              <input type="text" class="form-control" id="inputFirstname" placeholder="First Name" formControlName="firstName" aria-describedby="helpFirstName">
              <span id="helpFirstName" class="form-text text-danger" *ngIf="userDetails.get('firstName').hasError('required') && userDetails.get('firstName').touched">
                First name is required
              </span>
            </div>
            <div class="form-group col-md-6" [ngClass]="{'has-error': userDetails.get('surname').hasError('required') && userDetails.get('surname').touched}">
              <label for="inputSurname" class="col-form-label">Surname</label>
              <input type="text" class="form-control" id="inputSurname" placeholder="Surname" formControlName="surname" aria-describedby="helpSurname">
              <span id="helpSurname" class="form-text text-danger" *ngIf="userDetails.get('surname').hasError('required') && userDetails.get('surname').touched">
                Surname is required
              </span>
            </div>
          </div>

          <div class="form-group">
            <label for="inputAddress" class="col-form-label">Email</label>
            <input type="text" class="form-control" id="inputAddress" placeholder="someone@email.com" formControlName="email">
          </div>

          <div class="form-row">
            <div class="form-group col-md-6" formGroupName="userCredentials" [ngClass]="{'has-error': userDetails.get('userCredentials').get('password').hasError('required') && userDetails.get('userCredentials').get('password').touched}">
              <label for="inputPassword" class="col-form-label">Password</label>
              <input type="password" class="form-control" id="inputPassword" placeholder="Password" formControlName="password" aria-describedby="helpPassword">
              <span id="helpPassword" class="form-text text-danger" *ngIf="userDetails.get('userCredentials').get('password').hasError('required') && userDetails.get('userCredentials').get('password').touched">
                Password is required
              </span>
            </div>
            <div class="form-group col-md-6" formGroupName="userCredentials" [ngClass]="{'has-error': userDetails.get('userCredentials').get('confirm').hasError('required') && userDetails.get('userCredentials').get('confirm').touched}">
              <label for="inputPasswordRetype" class="col-form-label">Retype Passoword</label>
              <input type="password" class="form-control" id="inputPasswordRetype" placeholder="Retype password" formControlName="confirm" aria-describedby="helpConfirm">
              <span id="helpConfirm" class="form-text text-danger"
                    *ngIf="userDetails.get('userCredentials').get('confirm').hasError('required') &&
                    userDetails.get('userCredentials').get('confirm').touched">Confirm is required</span>
              <span id="helpConfirm" class="form-text text-danger"
                *ngIf="!userDetails.get('userCredentials').get('password').hasError('required') &&
                      userDetails.get('userCredentials').get('confirm').hasError('matchOther') &&
                      userDetails.get('userCredentials').get('confirm').touched">
                Password does not match.
              </span>
            </div>
          </div>

          <div class="form-group" formGroupName="userCredentials">
            <label class="col-form-label userRolesSelect">Select User Roles</label>
            <ss-multiselect-dropdown [texts]="myTexts" [options]="allUserRoles" [settings]="mySettings"  formControlName="userRoles"></ss-multiselect-dropdown>
          </div>

          <div class="form-group">
            <label for="multiselectDropdown" class="col-form-label userGroupSelect">Select UserGroups</label>
            <ss-multiselect-dropdown [texts]="myTexts" [options]="allUserGroups" [settings]="mySettings"  formControlName="userGroups" id="multiselectDropdown"></ss-multiselect-dropdown>
          </div>

          <div class="form-group" [ngClass]="{'has-error': userDetails.get('phoneNumber').hasError('required') && userDetails.get('phoneNumber').touched}">
            <label for="inputPhoneNumber" class="col-form-label">Mobile Phone Number</label>
            <input type="text" class="form-control" id="inputPhoneNumber" placeholder="+25512342342" formControlName="phoneNumber" aria-describedby="helpPhoneNumber">
            <span id="helpMobileNumber" class="form-text text-danger" *ngIf="userDetails.get('phoneNumber').hasError('required') && userDetails.get('phoneNumber').touched">
              Mobile phone number is required
            </span>
          </div>
          <div class="">
            <button type="submit" [disabled]="userDetails.invalid" class="btn btn-primary">Request User</button>
          </div>
        </form>
    </section>
  </div>
</div>
