.wrapper {
  position: relative;
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  transition: .2s;
}
.mail__header_tab {
  width: 80%;
  position: relative;
  display: flex;
  flex-direction: row;
  color: #242424;
  padding-bottom: 5px;
}

.mail__header_tab div{
  display: flex;
  flex: 1;
  height: 100%;
  padding: 6px 10px;
  display: inline-block;
  border: 0.01rem solid #f3f3f3;
  cursor: pointer;
  background: #f3f3f3;
}
.wrapper .header {
  padding-bottom: 20px;
  margin: 0 10%;
  position: relative;
  padding-left: 22px;
  color: #757575;
  font-size: 14px;
}
.wrapper .header button {
  background-color: transparent;
  position: absolute;
  right: 20px;
  top: 0;
  opacity: .25;
  width: 24px;
  border: none;
  outline: none;
  height: 24px;
  cursor: pointer;
}
.wrapper .header button:hover {
  opacity: .75;
}

.MessageContainer{
  display: flex;
  width: 100%;
  justify-content: center;
}

.wrapper .content-wrapper {
  transition: all .2s ease-in-out;
  width: 80%;
  display: flex;
  position: relative;
  overflow: hidden;
  background: #fff;
  cursor: pointer;
  box-shadow: 0 -1px 0 #e5e5e5, 0 0 2px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.24);
}
.wrapper .content-wrapper:hover > .subject > .actions ul {
  display: block;
}
.wrapper .content-wrapper:hover > .subject > .actions ul a {
  padding: 1px;
}
.wrapper .content-wrapper:focus {
  border-left: 2px solid #4285f4;
}
.wrapper .content-wrapper .name {
  float: left;
  width: 184px;
  display: flex;
  align-items: center;
  overflow: hidden;
  text-overflow: ellipsis;
}
.wrapper .content-wrapper .name span {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
}
.wrapper .content-wrapper .subject {
  position: relative;
  display: block;
  display: flex;
  align-items: center;
  flex: 1;
  margin: 0 20px 0 8px;
  min-width: 150px;
  text-overflow: elipsis;
  overflow: hidden;
}
.wrapper .content-wrapper .subject .actions {
  float: right;
  width: 50px;
  font-size: 16px;
}
.wrapper .content-wrapper .subject .actions ul {
  overflow: hidden;
  list-style: none;
  position: absolute;
  top: 16px;
  right: 5px;
  display: none;
  background: white;
}
.wrapper .content-wrapper .subject .actions ul li {
  display: inline-block;
  margin: 0 5px;
}
.wrapper .content-wrapper .subject .actions ul li a {
  text-decoration: none;
  padding: 5px;
  color: black;
  opacity: .5;
}
.wrapper .content-wrapper .subject .actions ul li a:hover {
  opacity: .8;
}
.wrapper .content-wrapper .subject .actions ul li a.pinned {
  opacity: 1;
  color: #4285f4;
}
.wrapper .content-wrapper .subject .content {
  float: left;
  width: 100%;
  overflow: hidden;
}
.wrapper .content-wrapper .subject .content span {
  display: inline-block;
}
.wrapper .content-wrapper .subject .content .fs {
  padding-right: 5px;
}

.bold {
  font-weight: bold;
}

.wrapper .content-wrapper .subject .content .sn {
  display: inline-block;
  color: #757575;
  padding-right: 5px;
}
.wrapper .content-wrapper .pinned-msg {
  position: absolute;
  display: none;
  top: 16px;
  right: 5px;
  color: #4285f4;
}
.wrapper .mail-wrapper {
  margin: 2% 8%;
  width: 84%;
  transition: all .1s ease-in-out;
  background: white;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.16), 0 6px 12px rgba(0, 0, 0, 0.32);
}
.wrapper .mail-wrapper .mail-top {
  cursor: pointer;
  padding: 20px;
}
.wrapper .mail-wrapper .mail-body .someClass {
  margin: 0 20px 0 16px;
  width: auto;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: nowrap;
}
.wrapper .mail-wrapper .mail-body .someClass .sender {
  margin-top: 20px;
}
.wrapper .mail-wrapper .mail-body .someClass .sender > :first-child {
  font-weight: bold;
}
.wrapper .mail-wrapper .mail-body .someClass .message {
  padding: 30px 40px 20px 0;
}
.wrapper .mail-wrapper .mail-footer {
  background: rgba(117, 117, 117, 0.07);
}
.wrapper .mail-wrapper .mail-footer .replybox {
  margin: 0 20px;
  width: auto;
  overflow: hidden;
}
.wrapper .mail-wrapper .mail-footer .replybox:after {
  content: "";
  clear: both;
  left: 0;
}
.wrapper .mail-wrapper .mail-footer .replybox .draft {
  margin-top: 20px;
}
.wrapper .mail-wrapper .mail-footer .replybox .draft span {
  cursor: pointer;
}
.wrapper .mail-wrapper .mail-footer .replybox .draft span:nth-child(1) {
  color: #db4437;
  font-weight: bold;
}
.wrapper .mail-wrapper .mail-footer .replybox .draft i,
.wrapper .mail-wrapper .mail-footer .replybox .draft span:nth-child(2) {
  color: #999;
  font-weight: bold;
}
.wrapper .mail-wrapper .mail-footer .replybox .draft i:hover,
.wrapper .mail-wrapper .mail-footer .replybox .draft span:nth-child(2):hover {
  color: #333;
}
.wrapper .mail-wrapper .mail-footer .replybox textarea {
  font-family: inherit;
  background: rgba(117, 117, 117, 0.01);
  outline: none;
  border: none;
  width: 100%;
  resize: none;
  height: 60px;
}
.wrapper .mail-wrapper .mail-footer .replybox div {
  margin-bottom: 10px;
}
.wrapper .mail-wrapper .mail-footer .replybox a {
  text-decoration: none;
  color: #333;
  padding: 10px;
  display: inline-block;
  font-size: 20px;
}
.wrapper .mail-wrapper .mail-footer .replybox a:nth-child(2) {
  transform: rotate(-45deg);
}
.wrapper .mail-wrapper .mail-footer .replybox button.send-btn {
  cursor: pointer;
  background: #4285f4;
  text-decoration: none;
  position: relative;
  padding: 8px;
  font-size: 13px;
  border-radius: 2px;
  color: white;
  font-weight: normal;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.14), 0 4px 6px rgba(0, 0, 0, 0.24);
}
.wrapper .mail-wrapper .mail-footer .replybox button.send-btn:hover {
  background: #2a75f3;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.15);
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.14), 0 6px 8px rgba(0, 0, 0, 0.24);
}
.wrapper .mail-wrapper img {
  width: 36px;
}
.wrapper .shadow {
  box-shadow: 0 -1px 1px #e5e5e5, 0 2px 1px rgba(0, 0, 0, 0.12);
}

.image {
  float: left;
  padding: 12px 24px;
}
.image > img {
  width: 24px;
  border-radius: 50%;
}

.show {
  transform: translateX(0px);
  opacity: 1;
}

.hide {
  opacity: 0;
  transform: translateX(-250px);
}

.sidebar {
  position: fixed;
  z-index: 1;
  background: white;
  top: 55px;
  bottom: 0;
  left: 0;
  width: 220px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 2px 4px 8px rgba(0, 0, 0, 0.28);
  transition: all .2s ease;
}
.sidebar ul {
  position: relative;
  padding-top: 25px;
}
.sidebar ul li {
  list-style: none;
  position: relative;
}
.sidebar ul li input[type="checkbox"] {
  display: none;
}
.sidebar ul li label {
  position: relative;
}
.sidebar ul li label:after {
  content: "\f0d7 ";
  font-family: fontAwesome;
  position: absolute;
  right: 30px;
  top: 40%;
}
.sidebar ul li input[type="checkbox"]:checked ~ label {
  background: white;
}
.sidebar ul li input[type="checkbox"]:checked ~ label:hover {
  background: none;
}
.sidebar ul li input[type="checkbox"]:checked ~ label:after {
  content: "\f0d8";
}
.sidebar ul li input[type="checkbox"]:checked ~ ul {
  background: white;
  color: #9b9b9b;
  max-height: 200px;
  transition: all .6s ease;
}
.sidebar ul li:hover {
  background: #e8e8e8;
}
.sidebar ul li:hover > a, .sidebar ul li:hover label {
  color: #4285f4;
}
.sidebar ul li a,
.sidebar ul li label {
  display: block;
  cursor: pointer;
  padding: 20px;
  text-decoration: none;
  color: #9b9b9b;
  font-weight: 600;
}
.sidebar ul li a span,
.sidebar ul li label span {
  display: inline-block;
  padding-left: 20px;
}
.sidebar ul li a i,
.sidebar ul li label i {
  display: inline-block;
}
.sidebar ul li ul {
  position: relative;
  transition: all .3s ease;
  padding: 0;
  margin: 0;
  max-height: 0;
  overflow: hidden;
}
.sidebar ul li ul li {
  position: relative;
  list-style: none;
}
.sidebar ul li ul li:hover {
  color: #9b9b9b;
}

.color-green {
  color: green;
}

.color-amber {
  color: #e6e61a;
}

.color-cyan {
  color: #00b3b3;
}

.color-blue {
  color: #4285f4;
}

.color-red {
  color: #cc3333;
}

.left {
  float: left;
}

.right {
  float: right;
}

.font:after {
  content: "\f031";
  font-family: "fontAwesome";
}

.arrow:after {
  content: "\f107";
  font-family: "fontAwesome";
}

.floating-btn {
  position: fixed;
  z-index: 1000;
  right: 20px;
  bottom: 50px;
}
.floating-btn:hover .action-btn {
  transform: rotate(360deg);
}
.floating-btn:hover .action-btn:after {
  content: "\f040";
}
.floating-btn:hover > .floating-menus li button {
  opacity: 1;
  transform: scale(1);
}
.floating-btn:hover > .floating-menus li:nth-child(5) button {
  transition: all .2s ease;
}
.floating-btn:hover > .floating-menus li:nth-child(4) button {
  transition: all .2s ease .05s;
}
.floating-btn:hover > .floating-menus li:nth-child(3) button {
  transition: all .2s ease .10s;
}
.floating-btn:hover > .floating-menus li:nth-child(2) button {
  transition: all .2s ease .15s;
}
.floating-btn:hover > .floating-menus li:nth-child(1) button {
  transition: all .2s ease .20s;
}

.floating-menus {
  margin-bottom: 20px;
  position: fixed;
  bottom: 65px;
  right: 30px;
  z-index: 100;
  width: 40px;
  list-style: none;
  padding-bottom: 5px;
}
.floating-menus li button {
  position: relative;
  border: none;
  outline: none;
  margin: 5px 0px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  z-index: 3;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.28);
  opacity: 0;
  transform: scale(0);
}
.floating-menus li button img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.floating-menus li button span {
  display: none;
  position: absolute;
  padding: 6px;
  white-space: nowrap;
  color: #ececec;
  background: rgba(70, 70, 70, 0.9);
  right: 115%;
  top: 16%;
  border-radius: 3px;
}
.floating-menus li button:hover span {
  display: block;
}
.floating-menus li:nth-child(1) button {
  transition: all .2s ease;
}
.floating-menus li:nth-child(2) button {
  transition: all .2s ease .05s;
}
.floating-menus li:nth-child(3) button {
  transition: all .2s ease .10s;
}
.floating-menus li:nth-child(4) button {
  transition: all .2s ease .15s;
}
.floating-menus li:nth-child(5) button {
  transition: all .2s ease .20s;
}
.floating-menus li > button.invite-action {
  background: url(https://ssl.gstatic.com/bt/C3341AA7A1A076756462EE2E5CD71C11/1x/ic_speeddialbg_clr_r1.png) center center no-repeat;
}
.floating-menus li > button.invite-action img {
  height: 24px;
  width: 24px;
  border-radius: 50%;
}

.row {
  display: table-row;
}

.empty-cell {
  display: table-cell;
}
.empty-cell:after {
  content: "";
  font-size: 0;
}

.cell {
  width: 480px;
  display: table-cell;
  margin-right: 15px;
  direction: ltr;
}

.wrap {
  position: relative;
}

.template {
  display: none;
}

.ink {
  position: absolute;
  display: block;
  border-radius: 50%;
  background: #333;
  -webkit-transform: scale(0);
  transform: scale(0);
  opacity: 1;
}

.ink.animate {
  -webkit-animation: animate .3s linear;
  animation: animate .3s linear;
}

@keyframes animate {
  100% {
    opacity: 0;
    transform: scale(2);
  }
}
@-webkit-keyframes animate {
  100% {
    opacity: 0;
    -webkit-transform: scale(2.5);
    transform: scale(2.5);
  }
}

@-webkit-keyframes grow {
  from {
    -webkit-transform: scale(0, 0);
  }
  to {
    -webkit-transform: scale(1, 1);
  }
}
@media screen and (max-width: 1000px) {
  .right-container nav.menus ul > li:not(:last-child) {
    display: none;
  }

  .left-container .logo {
    display: none;
  }

  article.wrapper {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    padding: 0;
  }

  .wrapper {
    margin: 0;
  }

  .header {
    margin: 0 !important;
    padding: 15px 5px !important;
  }
  .header button {
    top: 5px !important;
  }

  .content-wrapper {
    padding-bottom: 10px;
    margin: 0 !important;
    box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.06), 0 0 1px rgba(0, 0, 0, 0.12);
  }
  .content-wrapper .name {
    float: none !important;
  }
  .content-wrapper .subject .actions ul {
    top: 7px !important;
  }
  .content-wrapper .subject .content .fn,
  .content-wrapper .subject .content .sn {
    display: block !important;
    margin-bottom: 5px;
  }
  .content-wrapper .subject .content span:nth-child(2) {
    display: none;
  }
  .content-wrapper .subject .content span {
    padding-top: 5px !important;
  }

  .wrapper .mail-wrapper {
    margin: 2% 0 !important;
    border: none;
  }

  .center-container .search-box {
    width: auto !important;
  }
}

.mail__header_tab  ul li.active, .mail__header_tab div.active, .mail__header_tab ul li:hover {
  background: #fff;
}
.mail__header_tab div i {
  margin-right: 10px;
}

/*Fab content*/

.fab__container {
  margin: 1em;
  position: fixed;
  bottom: 0;
  right: 0;
}
.fab__container:hover .buttons:not(:last-of-type) {
  width: 40px;
  height: 40px;
  margin: 15px auto 0;
  opacity: 1;
}
.fab__container:hover .rotate {
  background-image: url("https://cbwconline.com/IMG/Codepen/Compose.svg");
  transform: rotate(0deg);
}

.buttons {
  display: block;
  width: 35px;
  height: 35px;
  margin: 20px auto 0;
  text-decoration: none;
  position: relative;
  border-radius: 50%;
  box-shadow: 0px 5px 11px -2px rgba(0, 0, 0, 0.18), 0px 4px 12px -7px rgba(0, 0, 0, 0.15);
  opacity: 0;
  transition: .2s;
}
.buttons:nth-last-of-type(2) {
  transition-delay: 20ms;
}
.buttons:nth-last-of-type(3) {
  transition-delay: 40ms;
}

.buttons:nth-last-of-type(1) {
  width: 56px;
  height: 56px;
  opacity: 1;
}
.buttons:nth-last-of-type(2) {
  background: #D2A518 url("https://ssl.gstatic.com/bt/C3341AA7A1A076756462EE2E5CD71C11/1x/ic_invite_wht_24dp_r1.png") center no-repeat;
}

.buttons:nth-last-of-type(3) {
  background: #3C80F6 url("https://ssl.gstatic.com/bt/C3341AA7A1A076756462EE2E5CD71C11/1x/ic_reminders_speeddial_white_24dp.png") center no-repeat;
}

.buttons:hover {
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 4px 8px rgba(0, 0, 0, 0.28);
}

span.fab{
  width: 100%;
  height: 100%;
  display: flex;
  border-radius: 50%;
}
span.fab .rotate {
  background: #DB4437 url("https://cbwconline.com/IMG/Codepen/Add.svg") center no-repeat;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transform: rotate(90deg);
  transition: .3s;
}

[tooltip]:before {
  content: attr(tooltip);
  background: #585858;
  padding: 5px 7px;
  margin-right: 10px;
  border-radius: 2px;
  color: #FFF;
  font: 500 12px Roboto;
  white-space: nowrap;
  position: absolute;
  bottom: 20%;
  right: 100%;
  visibility: hidden;
  opacity: 0;
  transition: .3s;
}
[tooltip]:hover:before {
  visibility: visible;
  opacity: 1;
}

span.label {
  padding-top: 2px !important;
  margin-right: 5px;
}


.pagination_number_container{
  display: flex;
  width: 100%;
  justify-content: center;
  margin-bottom: 20px;
}


.Approval-actions {
  margin-top: 10px;
}

.dataStore_items__listing{
  list-style-type: none;
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
}

.dataStore_items__listing li {
  padding: 5px;
  display: flex;
  width: 80%;
  justify-content: space-between;
}

.pull__right--Action {
  display: flex;
  flex-direction: row;
}

.select {
  margin-right: 5px;
}

.font_size09 {
  font-size: 0.9rem;
}

label.select__label {
  display: flex;
  margin-right: 3px;
  align-items: center;
}
