<section class="full-width">
  <section class="filter__select">
    <div class="form-row justify-content-end filter__row">
      <div class="col-auto">
        <app-select-dropdown [selectHeader]="statusHeader" [selectOptions]="availableStatus" (onSelected)="updateSelectedFilterStatus($event)"></app-select-dropdown>
      </div>
      <div class="col-auto">
        <app-select-dropdown [selectHeader]="priorityHeader" [selectOptions]="availablePriorities" (onSelected)="updateSelectedFilterPriority($event)"></app-select-dropdown>
      </div>
    <div class="btn-group button__filter--message" data-toggle="buttons">
      <label class="btn" [ngClass]="{'active btn-primary': isActive === item.id, 'btn-secondary': isActive !== item.id}" *ngFor="let item of tabFilter">
        <input type="radio" name="options" id="option1" autocomplete="off" (click)="messagesFilters(item.id)">{{item.name}}
      </label>
    </div>
  </div>
  </section>
  <article class="wrapper">
    <div *ngFor="let message of messageConversation | async | paginate: {id:'messageConvo', itemsPerPage: pager.pageSize, currentPage: pager.page, totalItems: pager.total}" class="MessageContainer">
      <div class="mail-wrapper" *ngIf="message.id === openedMessage">
        <div class="mail-top shadow" (click)="closeMessage()">
          <div class="mail-subject">{{message.subject}}</div>
          <div class="mail-action"></div>
        </div>

        <div class="mail-body" *ngFor="let messagebody of openedConversation.messages; let i = index">
          <div class="image">
            <ngx-avatar name="{{message.avatarName}}" size="35"></ngx-avatar>
          </div>
          <div class="someClass">
            <div class="sender" *ngIf="messagebody.senderDisplayName">
              <span>{{messagebody.senderDisplayName}}</span>
              <span class="font_size09 ">to</span>
              <span *ngFor="let user of messagebody.userSentTo; let isLast=last" class="text-capitalize" class="font_size09">{{user.displayName}}{{isLast ? '' : ', '}}</span>
            </div>
            <div class="message">
              <section [innerHTML]="messagebody.text"></section>
              <div class="Approval-actions" *ngIf="i==0 && isUserSupportMsg && isCurrentUserInFeedbackGroup">
                <div *ngIf="loadingDataStoreValue">
                  <div class="col-md-12">
                    <img src="assets/img/balls-3.svg" alt="" style="height:40px">
                    <span style="margin-top: 20px;">Loading Actions to Approve</span>
                  </div>
                </div>
                <section *ngIf="!loadingDataStoreValue">
                  <ul class="dataStore_items__listing">
                    <li *ngIf="!disableApproveAll">
                      <span>Approve/Reject all Changes</span>
                      <div class="btn-group" role="group">
                        <button class="btn btn-success" (click)="approveChangesDataset(dataStoreValues, true)">Approve All</button>
                        <button class="btn btn-danger" (click)="approveChangesDataset(dataStoreValues, false)">Reject All</button>
                      </div>
                    </li>
                    <li *ngFor="let value of dataStoreValues; let i = index">
                      <span>{{value.action}}</span>
                      <div class="btn-group" role="group">
                        <button *ngIf="!value.rejected" class="btn btn-success" (click)="approveChangesDataset(value, true)" [disabled]="value.status == 'SOLVED'" >{{value.approved ? "Approved": "Approve"}}</button>
                        <button *ngIf="!value.approved" class="btn btn-danger" (click)="approveChangesDataset(value, false)" [disabled]="value.status == 'SOLVED'" >{{value.rejected ? "Rejected": "Reject"}}</button>
                      </div>
                    </li>
                  </ul>
                </section>
              </div>
            </div>
          </div>
        </div>
        <div class="mail-footer shadow">
          <div class="image">
            <ngx-avatar name="{{currentUser.name}}" size="35"></ngx-avatar>
          </div>
          <form class="replybox" novalidate [formGroup]="messageReplyFormGroup">
            <div class="draft" *ngIf="textAreaMessageFocused"><span>Draft </span></div>
            <div class="draft" *ngIf="!textAreaMessageFocused" (click)="setFocusReplyMessage()"><span>Reply</span></div>
            <textarea formControlName="message" autofocus *ngIf="textAreaMessageFocused"></textarea>
            <div class="reply__action--container">
              <div class="left">
                <button [disabled]="!messageReplyFormGroup.valid" class="btn btn-success" (click)="onReplyMessage(message.id, messageReplyFormGroup)" *ngIf="textAreaMessageFocused">SEND</button>
                <button class="btn btn-secondary" (click)="setFocusReplyMessage()" *ngIf="textAreaMessageFocused">CANCEL</button>
              </div>
              <div class="pull-right pull__right--Action" *ngIf="isCurrentUserInFeedbackGroup && (isUserSupportMsg || message.messageType == 'TICKET')">
                <div class="col-auto" appClickOutside>
                  <app-select-dropdown [selectHeader]="priorityHeader" [selectOptions]="priorities" [selectedItem]="message.priority" (onSelected)="setMessagePriority($event)" id="priority"></app-select-dropdown>
                </div>
                <div class="col-auto">
                  <app-select-dropdown [selectHeader]="statusHeader" [selectOptions]="statuses" [selectedItem]="message.status" (onSelected)="setMessageStatus($event)" id="status"></app-select-dropdown>
                </div>
                <div class="col-auto">
                  <app-select-dropdown [selectHeader]="assignToMemberHeader" [selectOptions]="feedbackRecipients" [selectedItem]="assignedMember" (onSelected)="assignToMessage($event)" id="assigned"></app-select-dropdown>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="content-wrapper" *ngIf="message.id !== openedMessage">
        <div class="image" (click)="openMessage(message)">
            <ngx-avatar name="{{message.avatarName}}" size="30"></ngx-avatar>
        </div>
        <div class="name" (click)="openMessage(message)">
          <span class="font_size09">{{message.participants}}</span>
        </div>
        <div class="subject">
          <div class="actions">
            <a href="#" class="pinned-msg"><i class="fa fa-thumb-tack"></i></a>
            <ul>
              <li *ngIf="!message.read" (click)="markAsRead(message)"><i class="fa fa-check" aria-hidden="true" title="Mark as Read"></i></li>
              <li *ngIf="message.read" (click)="markUnRead(message)" tooltip="Mark as unread"><i class="fa fa-envelope" title="Mark as UnRead"></i></li>
              <li (click)="deleteMessage(message)" tooltip="Delete Message"><i class="fa fa-trash" title="Delete"></i></li>
            </ul>
          </div>
          <div class="content" (click)="openMessage(message)">
            <span *ngIf="message.priority!=='NONE'" [ngClass]="{badge: true, 'badge-warning': message.priority === 'MEDIUM', 'badge-danger': message.priority === 'HIGH', 'badge-info': message.priority === 'LOW'}" class="badge-warning">{{message.priority}}</span>
            <span *ngIf="message.status!=='NONE'" [ngClass]="{badge: true, 'badge-info': message.status === 'PENDING', 'badge-success': message.status === 'SOLVED', 'badge-secondary': message.status === 'OPEN'}">{{message.status}}</span>
            <span [ngClass]="{fs: true, bold: !message.read}">{{message.subject | limitTo:40}}</span>
            <span class="sn">{{formatDate(message.lastMessage)}}</span>
          </div>
        </div>
      </div>
    </div>
  </article>
  <nav class="fab__container">
    <a class="buttons" href="#" (click)="showComposeMessage()" tooltip="Compose a Message"></a>
    <a class="buttons" href="#" (click)="showComposeFeedback()" tooltip="Write Feedback"></a>
    <a class="buttons" (click)="showComposeFeedback()" tooltip="Compose">
      <span class="fab"><span class="rotate"></span></span>
    </a>
  </nav>
  <div class="has-text-centered pagination_number_container" *ngIf="isDataLoaded && (messageConversation | async)?.length">
      <div class="spinner" [ngClass]="{ 'hidden': !isLoadingMessagesPagination }"></div>
      <pagination-controls (pageChange)="getPage($event)" id="messageConvo"></pagination-controls>
  </div>
</section>
<!-- TODO:
  add pagination
  http://michaelbromley.github.io/ngx-pagination/#/
 -->
