.header {
  background: #276696;
  width: 100%;
  height: 56px;
  box-shadow: 0 0 4px rgba(0, 0, 0, .14), 0 4px 8px rgba(0, 0, 0, .28);
}

.main {
  margin-top: 50px;
}

.action__icon {
  margin: 0 10px;
  display: inline;
}

.action__wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.actionForm {
  padding-top: 10px;
  width: 90%;
}

.action__choices {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  margin: 15px auto;
}

.action__choices button {
  margin: 20px 0 0 0;
  display: block;
  cursor: pointer;
  font-weight: 500;
  transition: all 0.3s ease;
}

.action__component {}

.selected__component {
  position: absolute;
  z-index: 1000;
  min-width: 100%;
  background: white;
  min-height: 250px;
  max-height: 400px;
  margin-top: 5px;
  overflow-y: auto;
  padding: 0 5px;
  border: 1px solid rgba(0, 0, 0, .15);
  border-radius: 4px;
}

.flow_right {
  right: 0;
}
