<dhis-menu></dhis-menu>
<ng-progress></ng-progress>
<div class="main">
  <div class="container-fluid action__wrapper">
    <div class="actionForm">
      <h3 class="wellcome__messaging">Welcome {{currentUser.name}}, How can we help you today? </h3>
      <div class="form-group">
        <section class="row action__choices">
          <div class="action__component col">
            <button class="btn btn-outline-primary" (click)="showComposeFeedback()" [ngClass]="{'active': currentShown =='composeFeedback'}"><i class="fa fa-pencil-square-o action__icon" aria-hidden="true"></i>Write Feedback</button>
          </div>
          <div class="action__component col">
            <button class="btn btn-outline-primary" (click)="showChosenComponent('addForms')" [ngClass]="{'active': currentShown =='addForms'}"><i class="fa fa-wpforms action__icon" aria-hidden="true"></i>Request Form(s)</button>
            <app-add-form class="selected__component" *ngIf="currentShown === 'addForms'" (onDataStoreUpdate)="dataSetUpdated($event)" (onFiltersClosed)="filtersClosed($event)" [activeComponent]="currentShown"></app-add-form>
          </div>
          <div class="action__component col">
            <button class="btn btn-outline-primary" (click)="showChosenComponent('createUser')" [ngClass]="{'active': currentShown =='createUser'}"><i class="fa fa-user-o action__icon" aria-hidden="true"></i>Create User(s)</button>
            <app-create-users class="selected__component" *ngIf="currentShown === 'createUser'" (onUserSelected)="onUserSelected($event)"></app-create-users>
          </div>
          <div class="action__component col">
            <button class="btn btn-outline-primary flow_right" (click)="showChosenComponent('resetPassword')" [ngClass]="{'active': currentShown =='resetPassword'}"><i class="fa fa-wpforms action__icon" aria-hidden="true"></i>Reset Password</button>
            <app-reset-password class="selected__component flow_right" *ngIf="currentShown === 'resetPassword'" [selectedUser]="selectedUser"></app-reset-password>
          </div>
        </section>
      </div>
    </div>
    <app-messages [ngClass]="{'col-sm-12': true}"></app-messages>
  </div>
</div>
