<div class="add__form--page">
  <div class="row bs-wizard" style="border-bottom:0;">
    <div class="col-6 bs-wizard-step" [ngClass]="isOrganizationUnitSelected ? 'complete':'active'">
      <!-- complete -->
      <div class="text-center bs-wizard-stepnum">Step 1</div>
      <div class="progress">
        <div class="progress-bar"></div>
      </div>
      <a href="#" class="bs-wizard-dot"></a>
      <div class="bs-wizard-info text-center">Select Organization Unit.</div>
    </div>

    <div class="col-6 bs-wizard-step" [ngClass]="isOrganizationUnitSelected ? 'active':'disabled'">
      <!-- active -->
      <div class="text-center bs-wizard-stepnum">Step 2</div>
      <div class="progress">
        <div class="progress-bar"></div>
      </div>
      <a href="#" class="bs-wizard-dot"></a>
      <div class="bs-wizard-info text-center">Add/Remove Form of for selected organization unit</div>
    </div>
  </div>
  <div class="content__wrapper">
    <form [formGroup]="datasetRequestForm" novalidate class="full-width">
      <div formArrayName="datasets" class="full-width">
        <div *ngFor="let dataset of datasetRequestForm.controls.datasets.controls; let i=index" class="card">
          <div class="card-header">
            <span>Request {{i + 1}}</span>
            <span class="pull-right" *ngIf="datasetRequestForm.controls.datasets.controls.length > 1" (click)="removeDatasetComponent(i, $event)"><i class="fa fa-times" aria-hidden="true"></i></span>
          </div>
          <app-dataset-select [formGroupName]="i" (onChangeRegistered)="componentDataUpdateEvent(i,$event)"></app-dataset-select>
        </div>
      </div>
      <div class="mt-1">
        <button (click)="addDatasetComponent($event)" type="button" class="btn btn-outline-primary btn-sm" [disabled]="!isFormValid">Add another Request +</button>
      </div>
      <button (click)="onSubmit(datasetRequestForm)" class="btn btn-success pull-right m-20" [disabled]="!isFormValid">Request change in dataset</button>
    </form>
  </div>
</div>
