.org-data-filter {
  flex: 1;
  height: 100%;
  margin: 20px 0;
}

.element-data-filter {
  flex: 1;
  height: 100%;
  margin: 20px 0;
}

.add__form--page {
  display: flex;
  width: 500px;
  flex-direction: column;
  justify-content: flex-end;

}

.add__form--page .content__wrapper {
  display: flex;
  width: 100%;
  background-color: inherit;
  justify-content: flex-end;
  flex-direction: row;
}


.create__user--page .content__wrapper  .content__details {
  margin-top: 5px;
}


.multiselect__forms > button.dropdown-toggle.btn.btn-default.btn-block.select_btn {
    min-width: 300px !important;
}

.multiselect__forms {
  display: flex;
  align-content: center;
  justify-content: center;
}
