.action__icon {
  margin: 0 10px;
}

.action__wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.action__choices {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  margin: 15px auto;
}

.action__choices button {
  margin: 20px;
}

.action__choices button.custom-btn {
  padding: 10px 25px;
  font-weight: 500;
  background: transparent;
  outline: none !important;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
}

.action__choices button.btn-1 {border: 2px solid rgb(39, 102, 150);}
.action__choices button.btn-1:hover {
  background: rgb(39, 102, 150);
  color: #fff;
}
.action__choices button.btn-1:active {top: 2px;}
