<div class="container-fluid action__wrapper">
  <div class="actionForm">
    <h3 class="wellcome__messaging">Welcome {{currentUser.name}}, How can we help you today? </h3>
    <div class="form-group">
      <section class="action__choices">
        <button class="custom-btn btn-1" (click)="showComposeFeedback()" routerLinkActive="active"><i class="fa fa-pencil-square-o action__icon" aria-hidden="true"></i>Write Feedback</button>
        <button class="custom-btn btn-1" [routerLink]="['create-users']" routerLinkActive="active"><i class="fa fa-user-o action__icon" aria-hidden="true"></i>Create User(s)</button>
        <button class="custom-btn btn-1" [routerLink]="['reset-password']" routerLinkActive="active"><i class="fa fa-wpforms action__icon" aria-hidden="true"></i>Reset Password</button>
        <button class="custom-btn btn-1" [routerLink]="['add-form']" routerLinkActive="active"><i class="fa fa-wpforms action__icon" aria-hidden="true"></i>Request Form(s)</button>
      </section>
    </div>
  </div>
  <app-messages class="col-sm-12"></app-messages>
</div>
