.password_reset_content {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.selectUser{
  margin-top: 50px;
  width: 50%;
}

form.passwrodForm{
  width: 50%;
  margin-top: 20px;
}
