<div class="password_reset_content" appClickOutside (clickOutside)="clickOutside($event)">
  <div class="row bs-wizard" style="border-bottom:0;">
       <div class="col-6 bs-wizard-step" [ngClass]="selectedUser ? 'complete':'active'"><!-- complete -->
         <div class="text-center bs-wizard-stepnum">Step 1</div>
         <div class="progress"><div class="progress-bar"></div></div>
         <a href="#" class="bs-wizard-dot"></a>
         <div class="bs-wizard-info text-center">Select User to reset password.</div>
       </div>

       <div class="col-6 bs-wizard-step" [ngClass]="selectedUser ? 'active':'disabled'"><!-- active -->
         <div class="text-center bs-wizard-stepnum">Step 2</div>
         <div class="progress"><div class="progress-bar"></div></div>
         <a href="#" class="bs-wizard-dot"></a>
         <div class="bs-wizard-info text-center">Enter new password</div>
       </div>
   </div>
  <div class="selectUser bordered-section">
    <span class="badge badge-primary">Step 1</span>
    <app-select-dropdown [selectedItem]="selectedUser?.displayName" [showSearchInput]="showSearchInput" [selectHeader]="resetPasswordHeader" [selectOptions]="allUsers" (onSelected)="userSelected($event)" [positionAbsolute]="positionAbsolute" class="selectUserDropDown"></app-select-dropdown>
  </div>
  <div class="loadingUser" *ngIf="isLoadingUser">
    <span class="col-md-12 loading-balls">
      <img src="assets/img/balls-3.svg" alt="" style="height:40px">
      <span style="margin-top: 20px;">Loading {{selectedItem.name}} informtation...</span>
    </span>
  </div>

  <form  novalidate (ngSubmit)="onSubmit(passwordForm)" [formGroup]="passwordForm" class="passwrodForm bordered-section" *ngIf="!isLoadingUser && selectedUser">
    <span class="badge badge-primary">Step 1</span>
    <h6 class="text-center">Request password change for {{selectedUser.displayName}}</h6>
    <div class="form-group">
      <label for="password" class="col-form-label">Password</label>
      <input type="password" class="form-control" id="password" formControlName="password">
      <div class="col-12">
        <small class="form-text text-danger" *ngIf="passwordForm.get('password').hasError('lengthInvalid') && passwordForm.get('password').dirty">Minimum password length is 8</small>
        <small class="form-text text-danger" *ngIf="passwordForm.get('password').hasError('upperCaseInvalid') && passwordForm.get('password').dirty">Password must have at least one upper case.</small>
        <small class="form-text text-danger" *ngIf="passwordForm.get('password').hasError('specialCharacterInvalid') && passwordForm.get('password').dirty">Password must contain at least one special character.</small>
        <small class="form-text text-danger" *ngIf="passwordForm.get('password').hasError('digitInvalid') && passwordForm.get('password').dirty">Password must have at least one digit.</small>
      </div>
    </div>
    <div class="form-group">
      <label for="confirm" class="col-form-label">Confirm password</label>
      <input type="password" class="form-control" id="confirm" formControlName="confirm">
      <div class="col-12">
        <small class="form-text text-danger" *ngIf="passwordForm.get('confirm').hasError('matchOther') && passwordForm.get('confirm').dirty">The entered values do not match. Please re-enter the values..</small>
      </div>
    </div>
    <div class="">
      <button type="submit" [disabled]="passwordForm.invalid" class="btn btn-primary">Request Password Reset</button>
    </div>
  </form>
</div>
