.password_reset_content {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 400px;
}

.selectUser{
  margin-top: 5px;
  width: 100%;
}

form.passwrodForm{
  width: 100%;
  margin-top: 50px;
  margin-bottom: 20px;
}

app-select-dropdown.selectUserDropDown {
    position: absolute;
    width: 95%;
}

.loadingUser {
  position: absolute;
  top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
