<div class="password_reset_content">
  <div class="selectUser bordered-section">
    <span class="badge badge-primary">Step 1</span>
    <app-select-dropdown [selectedItem]="selectedUser?.displayName" [showSearchInput]="showSearchInput" [selectHeader]="resetPasswordHeader" [selectOptions]="allUsers" (onSelected)="userSelected($event)" [positionAbsolute]="positionAbsolute" class="selectUserDropDown"></app-select-dropdown>
  </div>
  <div class="loadingUser" *ngIf="isLoadingUser">
    <span class="col-md-12 loading-balls">
      <img src="assets/img/balls-3.svg" alt="" style="height:40px">
      <span style="margin-top: 20px;">Loading {{selectedItem.name}} informtation...</span>
    </span>
  </div>

  <form  novalidate (ngSubmit)="onSubmit(passwordForm)" [formGroup]="passwordForm" class="passwrodForm bordered-section" *ngIf="!isLoadingUser && selectedUser">
    <span class="badge badge-primary">Step 1</span>
    <h6 class="text-center">Request password change for {{selectedUser.displayName}}</h6>
    <div class="form-group">
      <label for="password" class="col-form-label">Password</label>
      <input type="password" class="form-control" id="password" formControlName="password">
    </div>
    <div class="form-group">
      <label for="confirm" class="col-form-label">Confirm password</label>
      <input type="password" class="form-control" id="confirm" formControlName="confirm">
    </div>
    <div class="">
      <button type="submit" [disabled]="passwordForm.invalid" class="btn btn-primary">Request Password Reset</button>
    </div>
  </form>
</div>
