.password_reset_content {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.selectUser{
  margin-top: 50px;
  width: 50%;
}

form.passwrodForm{
  width: 50%;
  margin-top: 20px;
}

app-select-dropdown.selectUserDropDown {
    position: absolute;
    width: 50%;
}
