<div class="password_reset_content">
  <div class="selectUser">
    <app-select-dropdown [selectedItem]="selectedUser?.displayName" [showSearchInput]="showSearchInput" [selectHeader]="resetPasswordHeader" [selectOptions]="allUsers" (onSelected)="userSelected($event)" class="selectUserDropDown"></app-select-dropdown>
  </div>
  <form  novalidate (ngSubmit)="onSubmit(passwordForm)" [formGroup]="passwordForm" class="passwrodForm" *ngIf="userLoaded">
    <h6 class="text-center">Request password change for {{selectedUser.displayName}}</h6>
    <div class="form-group">
      <label for="password" class="col-form-label">Password</label>
      <input type="password" class="form-control" id="password" formControlName="password">
    </div>
    <div class="form-group">
      <label for="confirm" class="col-form-label">Confirm password</label>
      <input type="password" class="form-control" id="confirm" formControlName="confirm">
    </div>
    <div class="">
      <button type="submit" [disabled]="passwordForm.invalid" class="btn btn-primary">Request Password Reset</button>
    </div>
  </form>
</div>
