<div class="container-fluid">
  <div class="feedback__create" *ngIf="isWritingFeedback">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3">
        <h3 class="text-center">Write feedback</h3>
        <form role="form">
          <form class="form panel-body" role="form" novalidate>
            <div class="form-group">
              <input class="form-control" name="email" autofocus placeholder="Subject" type="email" />
            </div>
            <div class="form-group">
              <textarea class="form-control" name="body" required placeholder="Please write your feedback here..." rows="5"></textarea>
            </div>
            <button class="btn btn-primary pull-right" type="submit">Send</button>
          </form>
        </form>
      </div>
    </div>
  </div>
  <div class="forms__add" *ngIf="isAddingForm">
    <section class="loaders" *ngIf="loading"><span class="loader loader-quart"> </span> Loading...</section>
    <section *ngIf="dataLoaded">
      <h3 class="text-center">Please select form you want to add</h3>
    </section>
  </div>
  <div class="user__user" *ngIf="isCreatingUser">
    <h3 class="text-center"> You can now create new users</h3>
    <div class="org-data-filter">
      <div app-org-unit-filter (onOrgUnitUpdate)="setSelectedOrgunit($event)" (onOrgUnitInit)="setSelectedOrgunit($event)"></div>
    </div>
  </div>
</div>
